In [22]:
import glob
import nibabel as nb
import re
import pandas

In [23]:
reg = re.compile('.*/registration/(?P<mask_type>.*)_masks/_mask_(?P<mask>.*)_subject_id_(?P<subject_id>.*)/_interp_(?P<interpolation>.*)/.*')

In [32]:
# def get_volume(mask):
    
#     return (nb.load(mask).get_data() > 0).sum() * 1.96*1.96*2.75

In [42]:
import subprocess
def get_volume(mask):
    output = subprocess.Popen(["fslstats", mask, "-V"], stdout=subprocess.PIPE).communicate()[0]
    return float(output.split()[1])

In [50]:
def get_volume_weighted(mask):
    mask = nb.load(mask).get_data()
    return (mask[mask > 0]).sum() * 1.96*1.96*2.75

In [51]:
df = []

for fn in glob.glob('/home/gdholla1/data/daphne/registration/*/_mask_*_subject_id_*/_interp_*/*.nii.gz'):
    df.append(reg.match(fn).groupdict())
    df[-1]['fn'] = fn
    df[-1]['volume'] = get_volume(fn)
    df[-1]['weighted_volume'] = get_volume_weighted(fn)

In [52]:
df = pandas.DataFrame(df)

In [59]:
df.pivot_table(index=['subject_id', 'mask'], columns=['mask_type', 'interpolation'],)['volume']

mask_type               conjunct                     disjunct
interpolation   nearestneighbour   trilinear nearestneighbour   trilinear
subject_id mask
S00        LC_L         0.000000  201.543701        10.607564  318.226898
           LC_R        10.607564  137.898331        21.215128  254.581543
S01        LC_L         0.000000    0.000000         0.000000  137.898331
           LC_R         0.000000    0.000000        10.607564  233.366409
S02        LC_L        10.607564  190.936157        21.215128  339.442047
           LC_R        21.215128  190.936157        21.215128  233.366409
S03        LC_L        10.607564  180.328598        21.215128  233.366409
           LC_R        10.607564  180.328598        10.607564  212.151276
S04        LC_L         0.000000    0.000000         0.000000    0.000000
           LC_R         0.000000    0.000000         0.000000    0.000000
S06        LC_L        10.607564  148.505890        10.607564  265.189087
           LC_R         0.000000  148.505890        10.607564  265.189087
S07        LC_L        10.607564  180.328598        10.607564  243.973984
           LC_R        10.607564  265.189087        21.215128  350.049591
S08        LC_L        21.215128  169.721024        21.215128  190.936157
           LC_R        10.607564  137.898331        21.215128  222.758835
S09        LC_L         0.000000  127.290771        10.607564  148.505890
           LC_R         0.000000  127.290771        10.607564  159.113449
S11        LC_L         0.000000    0.000000         0.000000    0.000000
           LC_R         0.000000    0.000000         0.000000    0.000000
S13        LC_L         0.000000  148.505890         0.000000  233.366409
           LC_R        10.607564  148.505890        21.215128  190.936157
S16        LC_L        10.607564  275.796661        21.215128  297.011780
           LC_R        21.215128  212.151276        31.822693  307.619354

In [69]:
reg = re.compile('.*/(?P<subject_id>S[0-9]{2})/.*(?P<mask>[A-Z_])_(?P<mask_type>[a-z]+)\.nii\.gz')

df2 = []                 
                 
for fn in glob.glob('/home/gdholla1/data/daphne/masks/tse_space/S*/*.nii.gz'):
    df2.append(reg.match(fn).groupdict())
    df2[-1]['fn'] = fn
    df2[-1]['volume'] = get_volume(fn)
    df2[-1]['weighted_volume'] = get_volume_weighted(fn)

In [70]:
df2 = pandas.DataFrame(df2)

In [73]:
df2.pivot_table(index=['subject_id', 'mask'], columns=['mask_type'],)['volume']

mask_type        conjunct   disjunct
subject_id mask
S00        L     5.302277  14.683228
           R     3.874741  11.624222
S01        L     0.000000   5.506210
           R     0.000000   7.953415
S02        L     5.302277  14.683228
           R     6.321945  13.867493
S03        L     6.118011   9.992752
           R     5.710144  11.828156
S04        L     4.486542   7.341614
           R     7.137680  12.847824
S06        L     6.118011  11.624222
           R     4.690475  16.722565
S07        L     7.137680  12.439957
           R     6.525879  11.828156
S08        L     6.729813  11.420288
           R     6.118011  15.295029
S09        L     5.710144   8.973083
           R     5.506210  11.420288
S11        L     5.506210   7.953415
           R     5.506210  11.012421
S13        L     3.874741  13.459625
           R     5.914078  17.130432
S16        L     8.973083  17.538300
           R     6.729813  14.683228